/*The global css file contains the few properties that are styled the same for every instane of that element in the project.*/

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f0eeee;

}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}
