/*The global css file contains the few properties that are styled the same for every instane of that element in the project.*/

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f0eeee;

}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}

#about {
  /*background: rgba(255, 0, 0, 0.5);*/
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}


#listings {
  background-color: #dbd8d8;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

#communities {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #4a6f94;


  img {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .1;
    filter: grayscale(100%);
  }

  .content__text * {
    z-index: 5;
    color: white;
  }

}

#buying, #selling {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  img {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
  }

  .content__text * {
    z-index: 5;
    color: white;
  }
}

#testimonial {
  background-color: #666666;
}

#contact {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

#associations {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #dbd8d8;

  img {
    height: 80px;
    margin: 20px;
  }

}


#footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #333333;
  color: white;
}
