.box {
  display: flex;
  color: white;
  background: rgba(0,0,0,0.5);
  /*border: 2px solid black;*/
  z-index: 20;
  width: 100%;
  height: 75px;
  margin: 2px;
  justify-content: center;
  align-items: center;

  @mixin atMedium {
    width: 250px;
    height: 250px;
    font-size: 1.5rem;
    margin: 5px;
  }

  @mixin atLarge {
    width: 300px;
    height: 300px;
    margin: 2px;
  }

}
