.content {

  &__container {
    display: flex;
    flex-direction: column;

    @mixin atMedium {
      flex-direction: row;
    }
  }

  &__title {
    border-left: 3px solid red;
    padding: 7px 15px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 1.8rem;
    margin-bottom: 20px;

    @mixin atMedium {
      font-size: 2.2rem;
      margin-bottom: 35px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    /*border: 2px solid green;*/
    min-width: 50%;
    flex: 1.5;
  }

  &__content-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  &__content-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
      margin-top: -70px;
    }

    input {
      width: 233px;
      height: 50px;
      align-self: flex-end;

      padding-left: 20px;
      text-transform: uppercase;
      border: 2px solid gray;
      border-radius: 2px;
    }
  }

  &__social-media {
    display: flex;
    /*flex: 1;*/
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    /*background: rgba(255, 0, 0, 0.5);*/
    margin-top: 50px;

    i {
      transform: scale(3);
      padding: 0 20px;
    }
  }

  &__info-text {
    font-weight: light;
    color: #666;
    font-family: "Raleway";
    font-weight: 200;

    @mixin atMedium {
      font-size: 1.3rem;
      line-height: 1.3;
    }

  }

  /*&__background--full-width {
    width: 100%;
    height: 100%;
    opacity: 0;

  }*/
}
