.primary-nav {
  display: flex;
  flex: 1;

  ul {
    display: flex;
  }

  ul li {
    list-style: none;
    padding: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1.2px;
    display: block;

    &.is-current-link {
      color: orange;
      /*padding-bottom: 5px;
      border-bottom: 2px solid white;*/

    }
  }

  a:hover {
    color: orange;
    /*padding-bottom: 5px;
    border-bottom: 2px solid white;*/
    /*transition: 1s;*/
  }


}
