.row {
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @mixin atMedium {
    justify-content: space-between;
  }

  &--margin-top {
    margin-top: 30px;

    @mixin atMedium {
      margin-top: 55px;
    }
  }

  &--centered {
    justify-content: center;
  }
}
