#about {
  /*background: rgba(255, 0, 0, 0.5);*/
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}


#listings {
  background-color: #dbd8d8;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

#communities {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #4a6f94;


  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .1;
    filter: grayscale(100%);
  }

  .content__text * {
    z-index: 5;
    color: white;
  }

}

#buying, #selling {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: black;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
  }

  .content__text * {
    z-index: 5;
    color: white;
  }
}

#testimonial {
  background-color: #666666;
}

#contact {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

#associations {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dbd8d8;


  img {
    height: 80px;
    margin: 20px;
  }

}


#footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #333333;
  color: white;
}

#map {
  width: 100%;
  height: 55vh;
  margin-top: 30px;
  margin-bottom: 50px;
}
